@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);

body {
	font-family: 'Nunito', 'Noto Sans Bengali', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	margin-bottom: 1rem;
}

small {
	font-size: 60%;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
}

/*input::-webkit-calendar-picker-indicator {
	display: none;
}*/

.table td {
	vertical-align: middle;
}

.table.memo-input td {
	vertical-align: top;
}

.table.table-account-book {
	font-size: 14px;
}

#site-content {
	padding: 2rem 0;
}

#memo-no {
	font-size: 1.5rem;
	font-weight: bold;
}

.table-checkbox {
	margin-top: 0.7rem;
}

.tr-sub {
	font-size: 14px;
}

.tr-sub label {
	margin-bottom: 0;
}

.tr-sub td {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.bg-table-dark {
	background: rgba(0, 0, 0, 0.05);
}

.shoe-check-span {
	font-weight: bold;
}

.sort th, .sort a {
	color: #0056b3;
}

.sort a:hover {
	text-decoration: underline;
}

.hover-preview {
	position: relative;
}

.preview-window {
	display: none;
	position: absolute;
	top: -2px;
	left: 110%;
	padding: 2px;
	background: #fff;
	box-shadow: 0 0 5px #000;
	z-index: 10000;
}

.hover-preview:hover .preview-window {
	display: block;
}

#infobar {
	background: #e9ecef;
}

.btn-invisible {
	display: block!important;
	overflow: visible!important;
	margin: 0!important;
	border: 0!important;
	padding: 0!important;
	width: 0!important;
	height: 0!important;
}

@media (min-width: 768px) {
	#shoe-image-modal .modal-dialog {
		max-width: 700px;
	}
}